node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Obsidian workbook
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/*/data.json
.trash/
*.log
content/dist/*
!content/dist/.gitkeep
